<section class="active-chat container text-center" ng-controller="ChatCtrl as vm">
  <div class="chat-box col-md-6 col-md-offset-3">
    <h2> <img class="img-circle"ng-src="{{vm.avatar}}" alt="avatar"> {{vm.title}}</h2>
    <div ng-repeat="message in vm.messages">
      <div class="recieved-message" ng-if="message.status === 1">
        <h3 class="person-name">{{message.person}}</h3>
        <p ng-if="message.type === 1"> {{message.text}} <time am-time-ago="message.time"></time></p>
        <p ng-if="message.type === 2"><img class="img-thumbnail" ng-src="{{message.image}}" alt=""> <time am-time-ago="message.time"></time></p>

      </div>
      <div class="sent-message" ng-if="message.status === 2">
        <h3 class="person-name">{{message.person}}</h3>
        <p ng-if="message.type === 1">{{message.text}} <time am-time-ago="message.time"></time></p>
        <p ng-if="message.type === 2"><img class="img-thumbnail" ng-src="{{message.image}}" alt=""> <time am-time-ago="message.time"></time></p>
      </div>
    </div>
    <form class="send-message" ng-init="messageSend = {}" ng-submit='sendMessage()'>

      <textarea placeholder="Type you message here!"></textarea>
      <div class="button" ngf-select="upload($file)"><i class="fa fa-paperclip " aria-hidden="true"></i></div>

      <button class="send-message"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
    </form>
  </div>
</section>
