<section class="active-chat container text-center">
  <div class="chat-box col-md-6 col-md-offset-3">
    <h2>Family</h2>
    <div class="recieved-message">
      <h3 class="person-name">Mohamed</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam <time>8:33 PM</time></p>
    </div>
    <div class="recieved-message">
      <h3 class="person-name">Mohamed</h3>
      <p><img class="img-thumbnail"src="images/pic.jpg" alt=""> <time>8:33 PM</time></p>
    </div>
    <div class="sent-message">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam <time>8:33 PM</time></p>
    </div>
    <div class="sent-message">
      <p><img class="img-thumbnail"src="images/pic.jpg" alt=""> <time>8:33 PM</time></p>
    </div>
    <form class="send-message">
      <textarea placeholder="Type your message"></textarea>
      <button class="attach"name="attachment" type="button"><i class="fa fa-paperclip" aria-hidden="true"></i></button>
      <button class="send-message"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
    </form>
  </div>
</section>
